@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-image: url("../imagens/imagem-de-fundo.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}
.container {
    display: block;
    margin: 50px auto;
    max-width: 768px;
    text-align: center;
}
h1 {
    color: #fff;
    font-size: 36px;
    text-shadow: 5px 2px 4px #000000cb;
    margin-bottom: 20px;
}
table {
    display: block;
    margin: 20px auto;
}
tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.801);
}
tr:nth-child(even) {
    background-color: #000000ce;
    color: #fff;
}
th, td {
    border: 1px solid #fff;
    padding: 15px 25px;
    text-align: center;
    font-weight: bold;
}
img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    float: left;
}
a {
    position: fixed;
    bottom: 10px;
    right: 20px;
    text-decoration: none;
    color: #000;
    background-image: linear-gradient(45deg, #ebff00, #15ff00);
    padding: 10px 15px;
    border-radius: 30px;
    font-weight: bold;
}
a:hover {
    background-image: linear-gradient(45deg, #0a7e00, #afbe00);
    box-shadow: 0 0 10px #2c9b00, 0 0 40px #f8e800, 0 0 80px #4bbd00;
    color: #fff;
    transition: 0.3s;
    transform: scale(1.1);
}