@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}
h3 {
    padding-bottom: 10px;
    font-size: 1.3em;
}
p {
    padding: 10px;
}
.header {
    padding: 20px;
}
.header > h1 {
    margin-left: 50px;
}
.banner-home {
    background-image: url("../imagens/capa.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 600px;
}
.banner-home > .banner-title {
    display: block;
    margin: 0 auto;
    max-width: 900px;
    padding: 80px;
}
.banner-home > .banner-title > h1, h2 {
    text-align: right;
    line-height: 5dvh;
}
.about-section {
    padding: 40px;
    max-width: 900px;
    display: block;
    margin: 0 auto;
}
.about-section > img {
    max-width: 260px;
    padding-right: 5px;
    padding-bottom: 20px;
}
.about-section > p > span {
    margin-top: 20px;
    padding-left: 5px;
    font-style: italic;
    border-left: 5px solid rgb(138, 138, 138);
    border-radius: 5px;
}
.action-section, .contato-section {
    background-image: url("../imagens/fundo.jpg");
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}
.action-section > h2 {
    background-color: white;
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 30px;
    padding: 10px;
    width: 150px;
}
.action-info {
    line-height: 25px;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
}
.contato-section > h2 {
    background-color: white;
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 30px;
    padding: 10px;
    width: 150px;
}
.contato-info {
    line-height: 25px;
    padding: 40px;
    margin: 0 auto;
    max-width: 800px;
}