@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
span {
    color: #2f86d6;
}
.nav {
    background-color: #2f86d6;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1024px;
    margin: auto;
}
.nav-logo {
    display: flex;
}
.nav-logo > img {
    width: 100px;
    margin-right: 20px;
}
.nav-logo > div {
    margin-top: 10px;
}
.nav-logo > div > p {
    color: #2f86d6;
}
.nav-links > nav {
    padding: 30px;
}
.nav-links > nav > a {
    margin: 10px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}
.banner {
    background-color: rgba(47, 134, 214, 1);
    color: white;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: 90vh;
}
.banner > .text-paragraph {
    line-height: 30px;
    margin-top: 100px;
    max-width: 400px;
}
.banner > .text-paragraph > h2 {
    margin: 30px 0px;
}
.informacoes {
    margin: 40px 100px;
}
.informacoes > h2 {
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
}
.informacoes > .info-pai {
    display: flex;
    justify-content: space-between;
}
.informacoes > .info-pai > .info-card {
    text-align: center;
    margin: 40px;
}
.info-card > h3 {
    margin: 20px 0px;
}
.info-card > img {
    max-width: 100px;
}
.secao-tabela {
    background-color: #c4bfbf5e;
    margin: auto;
    padding: 40px;
    text-align: center;
}
table {
    margin: 40px auto;
    border-radius: 20px;
    width: 70%;
    box-shadow: 10px 10px 20px 12px #2f86d6;
    border: 2px solid #a89f9f;
    background-color: white;
}
table > tr {
    border: 2px solid #a89f9f;
}
table > tbody > tr > td {
    padding: 10px;
}
table > thead > tr > th > img {
    width: 150px;
    margin: 30px 0px;
}
table > thead > tr > th > p {
    font-weight: normal;
    color: #a89f9f;
}
table > thead > tr > th {
    padding: 20px;
}
table > tbody > .destaque {
    background-color: #a89f9f6e;
}
.faixas {
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 30px;
}
.faixa-1 {
    background-color: #233032;
}
.faixa-1 > a {
    background-color: #2f86d6;
}
.faixa-2 {
    background-color: #2f86d6;
}
.faixa-2 > div > h2 {
    max-width: 550px;
}
.faixa-2 > a {
    background-color: #233032;
}
.faixas > a {
    padding: 20px;
    color: #f1f3f7;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.faixas > a > img {
    margin-right: 10px;
}
.rodape {
    display: block;
    margin: auto;
    margin-top: 40px;
}
.rodape > .logo {
    display: flex;
    justify-content: center;
}
.rodape > .logo > div > img {
    width: 50px;
    margin-right: 10px;
}
.rodape > .logo > .text-logo {
    margin-top: -6px;
}
.rodape > .logo > .text-logo > h1 {
    font-size: 24px;
}
.rodape > .logo > .text-logo > p {
    font-size: 14px;
    color: #2f86d6;
}
.rodape > .text-paragraph {
    font-weight: 600;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}
.rodape > .text-paragraph > p {
    margin-top: 10px;
}
.rodape > .credits-dev {
    padding: 10px;
    text-align: center;
    background-color: #f1f3f7;
    font-weight: 600;
    margin-top: 20px;
}
