@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

/*

Paleta de Cores do Projeto
#3c184e
#fff
#0000005c
#ffffffc4

*/
.topo {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    padding-top: 10px;
}
.topo-child {
    font-size: 0.7em;
}
.topo > .topo-child > h1, h2 {
    font-weight: normal;
    color: #3c184e;
}
.topo > .topo-child > h2 {
    font-size: 10px;
}
.topo > .topo-child > h1 > img {
    width: 28px;
    margin-right: 5px;
}
.topo > .menu > nav {
    display: block;
    margin: 0 auto;
    padding: 20px;
}
.topo > .menu > nav > a {
    padding: 10px;
    color: #3c184e;
    text-decoration: none;
    font-weight: bold;
}
.banner {
    background-image: url("../imagens/img/banner-topo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    padding: 40px;
}
.banner > .banner-card {
    margin: auto;
    text-align: center;
    padding: 40px;
    border-radius: 30px;
    background-color: rgba(234, 245, 255, 0.342);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.377);
    max-width: 700px;
}
.banner > .banner-card > h1 {
    color: #3c184e;
    margin-bottom: 50px;
}
.banner > .banner-card > a {
    border-radius: 30px;
    padding: 15px;
    color: white;
    text-decoration: none;
    background-color: #3c184e;
}
.banner > .banner-card > a > img {
    width: 25px;
}
.servicos {
    color: #3c184e;
    margin: 0 auto;
    max-width: 800px;
}
.servicos > h1 {
    margin-top: 40px;
    padding: 30px;
}
.servicos > h1, p {
    padding: 10px;
}
.servicos > p > span {
    font-weight: bold;
}
.servicos > .imagens-servicos > img {
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
}
.marcas {
    text-align: center;
    padding: 30px;
}
.marcas > h1 {
    color: #3c184e;
    padding-bottom: 20px;
}
.marcas > .marcas-imgs {
    display: flex;
    max-width: 1100px;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.marcas > .marcas-imgs > img {
    margin: 10px;
}
.faixas {
    background-color: #3c184e;
    padding: 50px;
    text-align: center;
    color: white;
}
.faixas > h1 {
    margin-bottom: 50px;
}
.faixas > a > img {
    width: 50px;
    margin-left: 20px;
}
.contato {
    padding: 20px;
    margin: 20px;
    text-align: center;
    color: #3c184e;
}
.contato > h1, h2 {
    margin-bottom: 30px;
}
.rodape {
    background-color: #3c184e;
    color: white;
    text-align: center;
}
.rodape > p > span {
    font-weight: bold;
}